<a href="https://colab.research.google.com/github/Devsharma003/Dev/blob/main/recommend_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine,correlation
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving book.csv to book.csv

In [ ]:
book=pd.read_csv("book.csv",encoding='unicode escape')
book

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6
...,...,...,...,...
9995,9996,162121,American Fried: Adventures of a Happy Eater.,7
9996,9997,162121,Cannibal In Manhattan,9
9997,9998,162121,How to Flirt: A Practical Guide,7
9998,9999,162121,Twilight,8
9999,10000,162129,Kids Say the Darndest Things,6

### Removing unwanted columns

In [ ]:
book=book.iloc[:,1:]
book

      User.ID                                         Book.Title  Book.Rating
0      276726                                Classical Mythology            5
1      276729                                       Clara Callan            3
2      276729                               Decision in Normandy            6
3      276736  Flu: The Story of the Great Influenza Pandemic...            8
4      276737                             The Mummies of Urumchi            6
...       ...                                                ...          ...
9995   162121       American Fried: Adventures of a Happy Eater.            7
9996   162121                              Cannibal In Manhattan            9
9997   162121                    How to Flirt: A Practical Guide            7
9998   162121                                           Twilight            8
9999   162129                       Kids Say the Darndest Things            6

[10000 rows x 3 columns]

In [ ]:
#checking missing value
book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   User.ID      10000 non-null  int64
 1   Book.Title   10000 non-null  object
 2   Book.Rating  10000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 234.5+ KB

In [ ]:
#Dropping duplicated values
book=book.drop_duplicates()

In [ ]:
book

      User.ID                                         Book.Title  Book.Rating
0      276726                                Classical Mythology            5
1      276729                                       Clara Callan            3
2      276729                               Decision in Normandy            6
3      276736  Flu: The Story of the Great Influenza Pandemic...            8
4      276737                             The Mummies of Urumchi            6
...       ...                                                ...          ...
9995   162121       American Fried: Adventures of a Happy Eater.            7
9996   162121                              Cannibal In Manhattan            9
9997   162121                    How to Flirt: A Practical Guide            7
9998   162121                                           Twilight            8
9999   162129                       Kids Say the Darndest Things            6

[9998 rows x 3 columns]

In [ ]:
book['Book.Title'].value_counts()

Fahrenheit 451                                              5
Stardust                                                    4
The Amber Spyglass (His Dark Materials, Book 3)             4
Ender's Game (Ender Wiggins Saga (Paperback))               4
The Subtle Knife (His Dark Materials, Book 2)               4
                                                           ..
Murder on St. Mark's Place (Gaslight Mysteries)             1
State of Grace                                              1
Valsalva's Maneuver: Mots Justes and Indispensable Terms    1
I love you, I hate you                                      1
Kids Say the Darndest Things                                1
Name: Book.Title, Length: 9659, dtype: int64

In [ ]:
book['Book.Title'].value_counts()<1

Fahrenheit 451                                              False
Stardust                                                    False
The Amber Spyglass (His Dark Materials, Book 3)             False
Ender's Game (Ender Wiggins Saga (Paperback))               False
The Subtle Knife (His Dark Materials, Book 2)               False
                                                            ...
Murder on St. Mark's Place (Gaslight Mysteries)             False
State of Grace                                              False
Valsalva's Maneuver: Mots Justes and Indispensable Terms    False
I love you, I hate you                                      False
Kids Say the Darndest Things                                False
Name: Book.Title, Length: 9659, dtype: bool

In [ ]:
book[book['Book.Title']=='Fahrenheit 451']

      User.ID      Book.Title  Book.Rating
179    276875  Fahrenheit 451            2
2230   278633  Fahrenheit 451            7
5589     2442  Fahrenheit 451           10
7989     4049  Fahrenheit 451            8
8191     4207  Fahrenheit 451            8

In [ ]:
book.shape

(9998, 3)

# Number of users

In [ ]:
len(book['User.ID'].unique())

2182

In [ ]:
book[book.iloc[:,0:2].duplicated()]

      User.ID                   Book.Title  Book.Rating
2001   278418     White Oleander : A Novel            5
3792     1211                  Black House            9
4745     2033               The First Time            2
5219     2276  In the Beauty of the Lilies           10
9945   162052                         Rose            8

In [ ]:
a=book[book.iloc[:,0:2].duplicated()].index

In [ ]:
a

Int64Index([2001, 3792, 4745, 5219, 9945], dtype='int64')

In [ ]:
book.nunique()

User.ID        2182
Book.Title     9659
Book.Rating      10
dtype: int64

In [ ]:
book['User.ID'].nunique()

2182

In [ ]:
book['Book.Title'].nunique()

9659

In [ ]:
book['Book.Rating'].nunique()

10

In [ ]:
#creating pivot table
book_pivot=pd.pivot_table(data=book,values='Book.Rating',index='User.ID',columns='Book.Title')
book_pivot

Book.Title,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ã?Â?bermorgen.
User.ID,,,,,,,,,,,,,,,,,,,,,
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN
278852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
book_pivot.fillna(0,inplace=True)

In [ ]:
book_pivot.head()

Book.Title,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ã?Â?bermorgen.
User.ID,,,,,,,,,,,,,,,,,,,,,
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
book1 = 1 - pairwise_distances(book_pivot,metric='cosine')
book1

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [ ]:
book_data=pd.DataFrame(book1)
book_data.index= book_pivot.index
book_data.columns = book_pivot.index
book_data

User.ID,8,9,10,12,14,16,17,19,22,26,...,278831,278832,278836,278843,278844,278846,278849,278851,278852,278854
User.ID,,,,,,,,,,,,,,,,,,,,,
8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278846,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
278849,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
278851,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
278852,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
278854,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
book_data.iloc[0:5, 0:5]

User.ID   8    9    10   12   14
User.ID
8        1.0  0.0  0.0  0.0  0.0
9        0.0  1.0  0.0  0.0  0.0
10       0.0  0.0  1.0  0.0  0.0
12       0.0  0.0  0.0  1.0  0.0
14       0.0  0.0  0.0  0.0  1.0

In [ ]:
np.fill_diagonal(book1,0)
book_data.iloc[0:5,0:5]

User.ID   8    9    10   12   14
User.ID
8        0.0  0.0  0.0  0.0  0.0
9        0.0  0.0  0.0  0.0  0.0
10       0.0  0.0  0.0  0.0  0.0
12       0.0  0.0  0.0  0.0  0.0
14       0.0  0.0  0.0  0.0  0.0

# Recommandation of users

In [ ]:
book_data.idxmax(axis=1)

User.ID
8              8
9              8
10             8
12             8
14             8
           ...
278846         8
278849         8
278851    278202
278852         8
278854         8
Length: 2182, dtype: int64

In [ ]:
book[(book['User.ID']==8) | (book['User.ID']==9)]

      User.ID                                         Book.Title  Book.Rating
2399        8                            Ancient Celtic Romances            5
2400        8  The Western way: A practical guide to the West...            5
2401        8                                              Wings            5
2402        8                                           Truckers            5
2403        8                Keepers of the Earth Teachers Guide            6
2404        8                            The Celts Activity Book            6
2405        8                                  The Art Of Celtia            7
2406        9   The Book of Kells: Selected Plates in Full Color            6

In [ ]:
book[(book['User.ID']==10) | (book['User.ID']==8)]

      User.ID                                         Book.Title  Book.Rating
2399        8                            Ancient Celtic Romances            5
2400        8  The Western way: A practical guide to the West...            5
2401        8                                              Wings            5
2402        8                                           Truckers            5
2403        8                Keepers of the Earth Teachers Guide            6
2404        8                            The Celts Activity Book            6
2405        8                                  The Art Of Celtia            7
2407       10                                SINGLE &amp; SINGLE            6

In [ ]:
book[(book['User.ID']==12) | (book['User.ID']==14)]

      User.ID                            Book.Title  Book.Rating
2408       12                        Apocalypse Wow           10
2409       14                                  COPS            5
2410       14  A Cold Heart: An Alex Delaware Novel            5
2411       14                            Dead Sleep            6